.card{
margin-bottom:2em;
}

.fb-bg-color{
  /* background-color: rgb(66,103,178); */
}

.ig-bg-color{
  background-color: rgb(250,250,250);
}


body {
  background-color: #f5f8fa;
  font-family: "Noto Sans TC", sans-serif;
}
