<br>

<section>
  <div class="container">

    <h2>FB</h2>

    <div class="row">
      <div class="col-md-4" *ngFor="let item of data">
        <div class="card">
          <img class="card-img-top" [src]="item.img" alt="Card image cap">
          <div class="card-body">
            <h4 class="card-title">{{item.name}}</h4>
            <p class="card-text">{{item.content}}</p>
            <a [href]="item.link" target="_blank" class="btn btn-primary">前往網頁</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
